<!--<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>
  <div class="pl-2 space-children-mr">
    <ds-dso-page-version-button (newVersionEvent)="onCreateNewVersion()" [dso]="object"
                                [tooltipMsgCreate]="'item.page.version.create'"
                                [tooltipMsgHasDraft]="'item.page.version.hasDraft'"></ds-dso-page-version-button>
    <ds-dso-page-edit-button [pageRoute]="itemPageRoute" [dso]="object" [tooltipMsg]="'item.page.edit'"></ds-dso-page-edit-button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ng-container *ngIf="!mediaViewer.image">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <ng-container *ngIf="mediaViewer.image">
      <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
    </ng-container>
    <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>
    <ds-item-page-date-field [item]="object"></ds-item-page-date-field>
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.author', 'dc.creator']"
      [label]="'relationships.isAuthorOf' | translate">
    </ds-metadata-representation-list>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.title']"
      [label]="'item.page.journal-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.identifier.issn']"
      [label]="'item.page.journal-issn'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journalvolume.identifier.name']"
      [label]="'item.page.volume-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher']"
      [label]="'item.page.publisher'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-6">
    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'item.page.description'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="','"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation']"
      [label]="'item.page.citation'">
    </ds-generic-item-page-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>
    <ds-item-page-collections [item]="object"></ds-item-page-collections>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>-->

<div class="section light-bg">
  <div class="container">
    <div class="f-right">
      <div class="pt-2 space-children-mr">
        <ds-dso-page-version-button (newVersionEvent)="onCreateNewVersion()" [dso]="object"
                                    [tooltipMsgCreate]="'item.page.version.create'"
                                    [tooltipMsgHasDraft]="'item.page.version.hasDraft'"></ds-dso-page-version-button>
        <ds-dso-page-edit-button [pageRoute]="itemPageRoute" [dso]="object" [tooltipMsg]="'item.page.edit'"></ds-dso-page-edit-button>
      </div>
    </div>
    <div class="section-title text-center pt-3 pb-3">
      <ds-item-page-title-field [item]="object" class="mr-auto">
      </ds-item-page-title-field>
      <small>
        <ds-generic-item-page-field [item]="object"
                                    [fields]="['dc.description']">
        </ds-generic-item-page-field>
      </small>

    </div>

    <ul class="nav nav-tabs nav-justified" role="tablist" *ngIf="iiifEnabled">
      <li class="nav-item" >
        <a class="nav-link active" data-toggle="tab" href="#mirador">Mirador présentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#info">Fiche complète</a>
      </li>
    </ul>
    <div class="tab-content" *ngIf="iiifEnabled">
      <div class="tab-pane fade show active" id="mirador" *ngIf="iiifEnabled">
        <!-- Section mirador -->
        <div class="row w-100" *ngIf="iiifEnabled">
          <ds-mirador-viewer id="iiif-viewer"
                             [object]="object"
                             [searchable]="iiifSearchEnabled"
                             [query]="iiifQuery$ | async">
          </ds-mirador-viewer>
        </div>
        <!-- fin section mirador -->
      </div>
      <div class="tab-pane fade" id="info">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <ng-container *ngIf="!mediaViewer.image">
              <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
                  <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
              </ds-metadata-field-wrapper>
            </ng-container>
            <ng-container *ngIf="mediaViewer.image">
              <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
            </ng-container>
            <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>
            <ds-item-page-date-field [item]="object"></ds-item-page-date-field>
            <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
                                             [parentItem]="object"
                                             [itemType]="'Person'"
                                             [metadataFields]="['dc.contributor.author', 'dc.creator']"
                                             [label]="'relationships.isAuthorOf' | translate">
            </ds-metadata-representation-list>
            <ds-generic-item-page-field [item]="object"
                                        [fields]="['journal.title']"
                                        [label]="'item.page.journal-title'">
            </ds-generic-item-page-field>
            <ds-generic-item-page-field [item]="object"
                                        [fields]="['journal.identifier.issn']"
                                        [label]="'item.page.journal-issn'">
            </ds-generic-item-page-field>
            <ds-generic-item-page-field [item]="object"
                                        [fields]="['journalvolume.identifier.name']"
                                        [label]="'item.page.volume-title'">
            </ds-generic-item-page-field>
            <ds-generic-item-page-field [item]="object"
                                        [fields]="['dc.publisher']"
                                        [label]="'item.page.publisher'">
            </ds-generic-item-page-field>
          </div>
          <div class="col-xs-12 col-md-6">
            <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>
            <ds-generic-item-page-field [item]="object"
                                        [fields]="['dc.description']"
                                        [label]="'item.page.description'">
            </ds-generic-item-page-field>

            <ds-generic-item-page-field [item]="object"
                                        [fields]="['dc.subject']"
                                        [separator]="','"
                                        [label]="'item.page.subject'">
            </ds-generic-item-page-field>
            <ds-generic-item-page-field [item]="object"
                                        [fields]="['dc.identifier.citation']"
                                        [label]="'item.page.citation'">
            </ds-generic-item-page-field>
            <ds-item-page-uri-field [item]="object"
                                    [fields]="['dc.identifier.uri']"
                                    [label]="'item.page.uri'">
            </ds-item-page-uri-field>
            <ds-item-page-collections [item]="object"></ds-item-page-collections>
            <div>
              <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
                <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--si not mirador activé -->
    <div class="row mt-3" *ngIf="!iiifEnabled">
      <div class="col-xs-12 col-md-4">
        <ng-container *ngIf="!mediaViewer.image">
          <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
            <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
          </ds-metadata-field-wrapper>
        </ng-container>
        <ng-container *ngIf="mediaViewer.image">
          <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
        </ng-container>
        <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>
        <ds-item-page-date-field [item]="object"></ds-item-page-date-field>
        <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
                                         [parentItem]="object"
                                         [itemType]="'Person'"
                                         [metadataFields]="['dc.contributor.author', 'dc.creator']"
                                         [label]="'relationships.isAuthorOf' | translate">
        </ds-metadata-representation-list>
        <ds-generic-item-page-field [item]="object"
                                    [fields]="['journal.title']"
                                    [label]="'item.page.journal-title'">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object"
                                    [fields]="['journal.identifier.issn']"
                                    [label]="'item.page.journal-issn'">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object"
                                    [fields]="['journalvolume.identifier.name']"
                                    [label]="'item.page.volume-title'">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object"
                                    [fields]="['dc.publisher']"
                                    [label]="'item.page.publisher'">
        </ds-generic-item-page-field>
      </div>
      <div class="col-xs-12 col-md-6">
        <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>
        <ds-generic-item-page-field [item]="object"
                                    [fields]="['dc.description']"
                                    [label]="'item.page.description'">
        </ds-generic-item-page-field>

        <ds-generic-item-page-field [item]="object"
                                    [fields]="['dc.subject']"
                                    [separator]="','"
                                    [label]="'item.page.subject'">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object"
                                    [fields]="['dc.identifier.citation']"
                                    [label]="'item.page.citation'">
        </ds-generic-item-page-field>
        <ds-item-page-uri-field [item]="object"
                                [fields]="['dc.identifier.uri']"
                                [label]="'item.page.uri'">
        </ds-item-page-uri-field>
        <ds-item-page-collections [item]="object"></ds-item-page-collections>
        <div>
          <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
            <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // end .section -->



