<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <ds-feedback-form></ds-feedback-form>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card border-light mt-3">
        <div class="card-body">
          <h6 class="card-title">{{ 'papyrus.info.contact.titre.global' | translate }}</h6>
          <p class="card-text"><a href="mailto:depot@bib.umontreal.ca"><i class="fa fa-envelope"></i> {{ 'papyrus.info.contact.courriel.global' | translate }}</a></p>
          <p class="card-text"><i class="fa fa-phone"></i> {{ 'papyrus.info.contact.phone.global' | translate }}</p>
        </div>
      </div>
      <div class="card border-light mt-3">
        <div class="card-body">
          <h6 class="card-title">{{ 'papyrus.info.contact.titre.creation' | translate }}</h6>
          <p class="card-text"><a href="mailto:depot@bib.umontreal.ca"> {{ 'papyrus.info.contact.courriel.creation' | translate }}</a></p>
        </div>
      </div>
      <div class="card border-light mt-3">
        <div class="card-body">
          <h6 class="card-title">{{ 'papyrus.info.contact.titre.administration' | translate }}</h6>
          <p class="card-text"><a href="mailto:%64%65%70%6F%74%40%62%69%62%2E%75%6D%6F%6E%74%72%65%61%6C%2E%63%61?Subject=Papyrus - Administration de la plateforme">{{ 'papyrus.info.contact.personne.administration' | translate }}</a></p>
          <p class="card-text"><i class="fa fa-phone"></i> {{ 'papyrus.info.contact.phone.administration' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
