<nav class="navbar navbar-expand-lg navbar-light udem-top-barre">
  <div class="d-flex flex-grow-1 barre-udem-logo">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="mt-0" href="/home">
      <img src="assets/images/{{imageLogo}}" [attr.alt]="'menu.header.image.logo' | translate" class="pt-3 top-logo-udem">
    </a>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right " >
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item mt-0 pt-0 ml-2">
        <a class="nav-link udem-item mt-0 pt-0"  href="https://www.umontreal.ca/#udemwww-search-personne" target="_blank" >{{'papyrus.top.menu.repertoire' | translate}}</a>
      </li>
      <li class="nav-item  udem-item mt-0 pt-0 ml-3">
        <a class="nav-link udem-item mt-0 pt-0" href="https://www.umontreal.ca/facultes-et-ecoles/" target="_blank">{{'papyrus.top.menu.faculte' | translate}}</a>
      </li>
      <li class="nav-item  udem-item mt-0 pt-0 ml-3">
        <a class="nav-link udem-item mt-0 pt-0" href="https://bib.umontreal.ca/" target="_blank">{{'papyrus.top.menu.bibliotheque' | translate}}</a>
      </li>
      <li class="nav-item udem-item mt-0 pt-0 ml-3">
        <a class="nav-link udem-item mt-0 pt-0" href="https://plancampus.umontreal.ca/" target="_blank">{{'papyrus.top.menu.campus' | translate}}</a>
      </li>
      <li class="nav-item dropdown udem-item pt-0 ml-3">
        <a class="nav-link dropdown-toggle udem-item mt-0 pt-0" href="#" id="navbardrop" data-toggle="dropdown">
          {{'papyrus.top.menu.connexion' | translate}}
        </a>
        <div class="dropdown-menu p-2 udem-menu-connexion">
          <a class="dropdown-item udem-item" href="https://monudem.umontreal.ca/" target="_blank">{{'papyrus.top.menu.connexion.monudem' | translate}}</a>
          <a class="dropdown-item udem-item" href="https://studium.umontreal.ca/" target="_blank">{{'papyrus.top.menu.connexion.studium' | translate}}</a>
          <a class="dropdown-item udem-item" href="https://outlook.umontreal.ca/" target="_blank">{{'papyrus.top.menu.connexion.nomcourriel' | translate}}</a>
        </div>
      </li>
      <li class=" pl-4 pl-md-0 ml-0 ml-md-4">
        <div id="udem-search-menu" >
          <form    class="udem-search-form">

            <input type="hidden" name="cx" value="011926736769028447783:qlpu3so2kqq">
            <input type="hidden" name="sa.x" value="23">
            <input type="hidden" name="sa.y" value="10">
            <input type="hidden" name="ie" value="UTF-8">

            <div class="clearfix">
              <input type="text" name="textRecherche" id="textRecherche" #textRecherche  class="udem-search-input" placeholder="{{'papyrus.top.menu.rechercher' | translate}}">
              <button type="button" class="udem-search-button" (click)="send()">
                <i class="fa fa-search"></i>
                <span class="sr-only sr-only-focusable">{{'papyrus.top.menu.rechercher' | translate}}</span>
              </button>
            </div>
            <div class="clearfix mt-1">
              <!-- <label>
                <input type="radio" name="scope" value="bib.umontreal.ca" checked="checked">
                {{'papyrus.top.menu.cesite' | translate}}
              </label>-->
              <label>
                <input class="ml-2" type="radio" name="scope" value="umontreal.ca" checked="checked">
                {{'papyrus.top.menu.toutudem' | translate}}
              </label>
            </div>
          </form>
        </div>
      </li>
      <li>
        <a href="http://donner.umontreal.ca/" title="{{'papyrus.top.menu.jedonne.desc' | translate}}" target="_blank" class="btn btn-primary btn-sm  ml-1 donne-udem"><span>{{'papyrus.top.menu.jedonne' | translate}}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
