<div class="background-image home-udem">
  <div class="jumbotron jumbotron-fluid">
    <div class="container contenu-text">
      <h1 class="display-2">{{'papyrus.home.accueil.title' | translate}}</h1>
      <h3 class="link-home-banner"> <a href="https://bib.umontreal.ca/gerer-diffuser/deposer-these-memoire" target="_blank" class="link-home-banner">{{'papyrus.home.accueil.depos-memoire' | translate}} </a> | <a href="https://bib.umontreal.ca/public/bib/gerer-diffuser/guide_du_deposant.pdf" target="_blank" class="link-home-banner">{{'papyrus.home.accueil.guide' | translate}}</a></h3>
      <!--<button class="btn btn-outline-info btn-sm btn-home-udem mt-2">{{'home.btn.about' | translate}}</button>-->
    </div>
  </div>
  <!-- /.jumbotron -->
</div>
