.jumbotron{
  background-image: url(../../../assets/images/udem/baner-bib1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:white !important;
}
.display-2 {
  font-size: 3em;
  text-shadow: 0 0 3px #212529;
  font-weight: 400;
}
.contenu-text{
  background: rgba(16, 27, 38, 0.4);
  padding: 50px;
}

.btn-udem-home {
  color: white!important;
  border-color: white!important;
  border-radius: 0px;
  font-weight: 100;
  margin-top: 20px;
}
.btn-udem-home{
  color: white!important;
  background: #01479c!important;
  border-color: #01479c!important;

}
.lead{
  font-family:raleway;
  font-weight:100;
  margin-top:-10px;
}
