<ds-navbar-top-udem></ds-navbar-top-udem>
<nav [ngClass]="{'open': !(menuCollapsed | async)}" [@slideMobileNav]="!(windowService.isXsOrSm() | async) ? 'default' : ((menuCollapsed | async) ? 'collapsed' : 'expanded')"
     class="navbar navbar-light navbar-expand-md p-md-0 navbar-container nav-udem" role="navigation" [attr.aria-label]="'nav.main.description' | translate">
  <div class="container h-100 mt-2">
        <div id="collapsingNav" class="w-100 h-100">
          <ul class="navbar-nav navbar-navigation mr-auto shadow-none mb-lg-0 h-100  udem-menu-links">
            <ng-container *ngFor="let section of (sections | async)">
              <ng-container *ngComponentOutlet="(sectionMap$ | async).get(section.id)?.component; injector: (sectionMap$ | async).get(section.id)?.injector;"></ng-container>
            </ng-container>
            <!--Ajout des liens dans le menu-->
            <li><a class="nav-item nav-link " href="/info/feedback">{{'papyrus.menu.principale.contact' | translate}}</a></li>
            <li>
              <div class="nav-item dropdown expandable-navbar-section">
                <a  href="javascript:void(0);"  id="infoMenu" data-toggle="dropdown" class="nav-link dropdown-toggle">
                  {{'papyrus.menu.principale.info' | translate}}
                </a>
                <div class="dropdown-menu udem-menu-info" aria-labelledby="infoMenu">
                  <ul class="ul-udem-menu-info">
                    <li class="li-menu-udem"><a class="nav-item nav-link udem-menu-links" href="https://bib.umontreal.ca/guides/bd/depot-institutionnel-papyrus?tab=5235215" target="_blank">{{'papyrus.menu.principale.info.a-propos' | translate}}</a></li>
                    <!-- <li class="li-menu-udem"><a class="nav-item nav-link udem-menu-links" href="#">{{'papyrus.menu.principale.info.depot' | translate}}</a></li> -->
                    <li class="li-menu-udem"><a class="nav-item nav-link udem-menu-links" href="https://bib.umontreal.ca/guides/bd/depot-institutionnel-papyrus?tab=5235216" target="_blank">{{'papyrus.menu.principale.info.droit' | translate}}</a></li>
                    <li class="li-menu-udem"><a class="nav-item nav-link udem-menu-links" href="https://bib.umontreal.ca/guides/bd/depot-institutionnel-papyrus?tab=5235217" target="_blank">{{'papyrus.menu.principale.info.interrogation' | translate}}</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
    </div>
    <!--<ds-themed-search-navbar></ds-themed-search-navbar>-->
    <ds-lang-switch></ds-lang-switch>
    <ds-themed-auth-nav-menu></ds-themed-auth-nav-menu>
    <ds-impersonate-navbar></ds-impersonate-navbar>
  </div>
</nav>
