<footer class="footer-section">
  <div class="container">
    <div class="footer-content pt-2 pb-2">
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 mb-1">
          <div class="footer-widget">
            <div class="footer-social-icon ">
              <div class="footer-widget-heading mt-3">
                <h3>{{'papyrus.footer.title' | translate}}</h3>
                <p class="text-desc">{{'papyrus.footer.text' | translate}}<br>
                  <a href="https://bib.umontreal.ca/guides/bd/depot-institutionnel-papyrus?tab=5235215" class="text-desc-link" target="_blank">{{'papyrus.footer.propulse' | translate}}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
          <div class="footer-widget">
            <div class="footer-social-icon ">
              <div class="footer-widget-heading mt-3">
                <h3>{{'papyrus.footer.suivi' | translate}}</h3>
              </div>
              <a href="https://www.facebook.com/bibUdeM" target="_blank"><i class="fab fa-facebook f-icon-udem font-20"></i></a>
              <a href="https://twitter.com/bibUdeM" target="_blank"><i class="fab fa-twitter f-icon-udem font-20"></i></a>
              <a href="http://www.youtube.com/user/BibliothequesUdeM" target="_blank"><i class="fab fa-youtube f-icon-udem font-20"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 mb-1">
          <div class="footer-widget">
            <div>
              <a href="/home"><img src="/assets/papyrus/images/udem/bib-udem-blanc.png" class="w-200 pt-1" alt="logo"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p class="f-12"><a href="https://duraspace.org/" target="_blank">{{'papyrus.footer.dspace.duraspace' | translate}}</a> &copy; 2022, <a href="https://duraspace.org/dspace/" target="_blank">{{'papyrus.footer.dspace.mention' | translate}}</a></p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a href="https://bib.umontreal.ca/guides/bd/depot-institutionnel-papyrus?tab=5235215"  >{{'papyrus.footer.menu.apropos' | translate}}</a></li>
              <li><a href="#" >{{'papyrus.footer.menu.depot' | translate}}</a></li>
              <li><a href="#" >{{'papyrus.footer.menu.politique' | translate}}</a></li>
              <li><a href="/info/feedback" >{{'papyrus.footer.menu.contact' | translate}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
