<div class="row row-offcanvas row-offcanvas-right p-2">
  <div class="col-xs-12 col-sm-12 col-md-9 main-content ml-2 pl-3">
    <form class="primary" [formGroup]="feedbackForm" (ngSubmit)="createFeedback()">
      <h4 class="card-title text-uppercase text-white">{{ 'info.feedback.head' | translate }}</h4>
      <p class="f-13 text-blue-pal">{{ 'info.feedback.info' | translate }}</p><br>
      <fieldset class="col p-0">
        <div class="row">
          <div class="control-group col-sm-12">
            <label class="control-label text-white" for="email">{{ 'info.feedback.email-label' | translate }}&nbsp;</label>
            <input id="email" class="form-control" name="email" type="text" value="" formControlName="email" autofocus="autofocus" title="{{ 'info.feedback.email_help' | translate }}">
            <small class="text-muted text-blue-pal mb-3">{{ 'info.feedback.email_help' | translate }}</small>
          </div>
        </div>

        <ng-container *ngIf="feedbackForm.controls.email.invalid && (feedbackForm.controls.email.dirty || feedbackForm.controls.email.touched)"
          class="alert ds-error">
          <ds-error *ngIf="feedbackForm.controls.email.errors?.required" message="{{'info.feedback.error.email.required' | translate}}"></ds-error>
          <ds-error *ngIf="feedbackForm.controls.email.errors?.pattern" message="{{'info.feedback.error.email.required' | translate}}"></ds-error>
        </ng-container>
        <div class="row"><br>
          <div class="control-group col-sm-12 mt-2">
            <label class="control-label text-white" for="comments">{{ 'info.feedback.comments' | translate }}:&nbsp;</label>
            <textarea id="comments" formControlName="message" class="form-control" name="message" cols="20" rows="5"> </textarea>
          </div>
        </div>
        <ng-container *ngIf="feedbackForm.controls.message.invalid && (feedbackForm.controls.message.dirty || feedbackForm.controls.message.touched)"
          class="alert ds-error">
          <ds-error *ngIf="feedbackForm.controls.message.errors?.required" message="{{'info.feedback.error.message.required' | translate}}"></ds-error>
        </ng-container>
        <!--<div class="row">
          <div class="control-group col-sm-12">
            <label class="control-label" for="page">{{ 'info.feedback.page-label' | translate }}&nbsp;</label>
            <input id="page" readonly class="form-control" name="page" type="text" value="" formControlName="page" autofocus="autofocus" title="{{ 'info.feedback.page_help' | translate }}">
            <small class="text-muted">{{ 'info.feedback.page_help' | translate }}</small>
          </div>
        </div>-->
        <div class="row mt-2">
          <div class="control-group col-sm-12 text-right">
            <button [disabled]="!feedbackForm.valid" class="btn btn-primary" name="submit" type="submit">{{ 'info.feedback.send' | translate }}</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
